.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.kilocode
.direnv
.envrc
AGENTS.md
CHANGELOG.md
cliff.toml
flake.lock
flake.nix
**/test
**/tests
out
esbuild.js